<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">

            {{>header}}
            <img class="landscape" src="img/IMG20220618074924.jpg" alt="biker">
        </div>
        
        {{>footer}}
    </body>
</html>